#include "winres.h"
#include "version.h"

#define PRODUCT_ICON            "images/app.ico"
#define FILE_DESCRIPTION        "长沙芫泽无创血流动力学检测系统"
#define LEGAL_COPYRIGHT         "Copyright(C) 2022 长沙芫泽医疗器械有限公司"
#define PRODUCT_NAME            "无创血流动力学检测系统"

IDI_ICON1       ICON      PRODUCT_ICON

VS_VERSION_INFO VERSIONINFO
    FILEVERSION FILE_VERSION
    PRODUCTVERSION PRODUCT_VERSION
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x40004L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", FILE_VERSION_STR
            VALUE "InternalName", INTERNAL_NAME
            VALUE "LegalCopyright", LEGAL_COPYRIGHT
            VALUE "OriginalFilename", ORIGINAL_FILE_NAME
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
