IDI_ICON1	ICON	DISCARDABLE	"images/app.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 4,4,4,1025
    PRODUCTVERSION 4,4,4,1025
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "080004b0"
			BEGIN
                VALUE "CompanyName", "长沙芫泽医疗器械有限公司\0"
				VALUE "FileDescription", "\0"
                VALUE "LegalCopyright", "Copyright(C) 长沙芫泽医疗器械有限公司\0"
                VALUE "LegalTrademarks", "长沙芫泽医疗器械有限公司\0"
                VALUE "OriginalFilename", "YZNICaS.exe\0"
				VALUE "ProductName", "无创血流动力学检测系统\0"
                VALUE "OrganizationDomain", "http://www.zeyaotebco.com/\0"
                VALUE "AppId", "92FB908B-79F3-4B31-9499-5E57A7239285"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0800, 1200
		END
	END
/* End of Version info */

